{
    "presets": [
        [
            "stage-3"
        ],
        [
            "es2015",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        [
            "component",
            [
                {
                    "libraryName": "mint-ui",
                    "style": true
                }
            ]
        ]
    ]
}