.home{
	position: relative;
	.map-wrap{
		height:100%;
	}
	.sao-code{
		width:6.5rem;
		height: 6.5rem;
		border:0.38rem solid rgba(32, 33, 37, .1);
		border-radius: 50%;
		//background-color:rgba(53,54,61,.85);
		overflow: hidden;
		position: absolute;
		bottom:2.08rem;
		left:50%;
		transform: translateX(-50%);
		z-index: 22;
		.sao-inner{
			width:100%;
			height:100%;
			background-color:rgba(53,54,61,.85);
			.sao-icon{
				font-size: 0;
				width:1.4rem;
				height: 1.4rem;
				margin-bottom: 0.5rem;
			}
			.sao-txt{
				font-size: 0.8rem;
				color:#fff;
				line-height: 1em;
			}
		}
	}
	.home-posit{
		position: fixed;
		width:100%;
		top:0.75rem;
		z-index: 22;
		.posit-wrap{
			width:13.8rem;
			height:1.5rem;
			background:#fff url("../images/home/adress.png") no-repeat 0.75rem 50%;
			background-size: 0.6rem;
			border-radius: 0.75rem;
			padding:0 1.6rem;
			font-size:0.65rem;
			span:first-child{
				color:#686a81;
				
			}
			span:last-child{
				color:#2d2f46;
			}
		}
	}
}
