.my-code{
	padding:0.75rem 0.6rem;
	.my-code-header{
		height: 6.0rem;
		color:#fff;
		dl{
			padding-top:1.15rem;
			padding-left:1.25rem;
			dt{
				font-size: 1.2rem;
				margin-bottom: 0.38rem;
			}
			dd{
				font-size: 0.6rem;
			}
		}
	}
}